<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mxgraph_com</display-name>
  <servlet>
    <description></description>
    <display-name>ExportServlet</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>com.mxgraph.imageexport.ExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
</web-app>
