<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>mxgraph_com</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description/>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.mxgraph.online.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>OpenServlet</display-name>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>com.mxgraph.online.OpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/open</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>ProxyServlet</display-name>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>com.mxgraph.online.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>EmbedServlet</display-name>
    <servlet-name>EmbedServlet</servlet-name>
    <servlet-class>com.mxgraph.online.EmbedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmbedServlet</servlet-name>
    <url-pattern>/embed.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>IconFinder</display-name>
    <servlet-name>IconFinder</servlet-name>
    <servlet-class>com.mxgraph.online.IconFinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IconFinder</servlet-name>
    <url-pattern>/iconfinder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.mxgraph.online.drive.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/svc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>_ah_sessioncleanup</servlet-name>
    <servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_ah_sessioncleanup</servlet-name>
    <url-pattern>/_ah/sessioncleanup</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>properties</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/_ah/sessioncleanup</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>